
body{
	font-family: verdana;
}


#head-logo{
	top: 0;
	left: 0;
	margin-top: -8px;
	margin-left: -8px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 100%;
	background-color: #f5f5ef;
}

#logo-home{
	max-height: 200px;
	max-width: 400px;
	margin-left: 30px;
}

.nav{
	display: flex;
	background-color: white;
	list-style-type: none;
	color: black;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-left: -10px;
	margin-top: -1px;
	border-radius: 0px 0px 10px 10px;
}

.nav li{
	display: inline-block;
	padding-right: 75px;
	position: relative;
}

.nav li a{
	text-decoration: none;
}

ul #submenu-profil1{
	background-color: white;
	position: absolute;
	display: none;
	margin-left: -198px;
	margin-top: 50px;
	padding-top: 10px;
	padding-right: 120px;
	padding-bottom: 12px;
	padding-left: 10px;
	border-radius: 10px 10px 0px 0px;
}

ul #submenu-profil2{
	background-color: white;
	position: absolute;
	display: none;
	margin-left: -198px;
	margin-top: 90px;
	padding-right: 96px;
	padding-bottom: 12px;
	padding-left: 10px;
}

ul #submenu-profil3{
	background-color: white;
	position: absolute;
	display: none;
	margin-left: -198px;
	margin-top: 120px;
	padding-right: 69.5px;
	padding-bottom: 12px;
	padding-left: 10px;
	border-radius: 0px 0px 0px 0px;
}

ul #submenu-profil4{
	background-color: white;
	position: absolute;
	display: none;
	margin-left: -198px;
	margin-top: 150px;
	padding-right: 75.5px;
	padding-bottom: 12px;
	padding-left: 10px;
	border-radius: 0px 0px 10px 10px;
}

ul #submenu-kegiatan{
	background-color: white;
	position: absolute;
	display: none;	
	margin-left: -220px;
	margin-top: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 30px;
	border-radius: 10px 10px 10px 10px;
}

ul #submenu-artikel1{
	background-color: white;
	position: absolute;
	display: none;	
	margin-left: -210px;
	margin-top: 50px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 12px;
	padding-right: 90px;
	border-radius: 10px 10px 0px 0px;
}

ul #submenu-artikel2{
	background-color: white;
	position: absolute;
	display: none;	
	margin-left: -210px;
	margin-top: 80px;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 12px;
	padding-right: 72.5px;
}

ul #submenu-artikel3{
	background-color: white;
	position: absolute;
	display: none;	
	margin-left: -210px;
	margin-top: 110px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 12px;
	padding-right: 32.5px;
	border-radius: 0px 0px 10px 10px;
}

#back-visi-misi{
	z-index: -1;
	margin-left: -10px;
	margin-top: -80px;
	position: absolute;
	height: 90%;
	width: 99.5%;
	opacity: 0.8;
}

#back-jadwal-ibadah
{
	z-index: -1;
	margin-left: -10px;
	margin-top: 145px;
	position: absolute;
	height: 90%;
	width: 99.5%;
	margin-bottom: 200px;
}

#visi{
	color: white;
	width: 40%;
	height: 20%;
	margin-top: 5%;
	margin-left: 29%;
}

#misi{
	color: white;
	width: 40%;
	height: 20%;
	margin-left: 29%;
}

.div-jadwal{
	text-align: center;
	padding-top: 10%;
	padding-left: 3.5%;
	padding-right: 3.5%;
	padding-bottom: 10%;
	position: absolute;
	border: solid #00CED1;
	width: 150px;
	height: 50px;
	color: 	white;
}

#jadwal-pagi{
	margin-top: 20%;
	margin-left: 10%;
}
#jadwal-pagi h1{
	margin-top: -60%;
}

#jadwal-siang{
	margin-top: 20%;	
	margin-left: 40%;
}
#jadwal-siang h1{
	margin-top: -60%;
}

#jadwal-sore{
	margin-top: 20%;
	margin-left: 70%;
}
#jadwal-sore h1{
	margin-top: -60%;
}

#footer{
	background-color: #f5f5ef;
	color: black;
	margin-left: -10px;
	margin-top: -10px;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 250px;
	text-decoration: none;
}
#black-line{
	background-color: black;
	padding-top: 10px;
	margin-left: -10px;
	margin-top: 863px;
}
.Kontak{
	font-size: 30px;
	list-style-type: none;
}
#foot-1{
	float: left;
	list-style-type: none;
	}
#foot-2{
	float: left;
	padding-left: 500px;
	list-style-type: none;
}
#footer img{
	width: 20pt;
}